## Notebook which connects to Companies House API and retrieves company information. eg. Cash owned

In [29]:
import pandas as pd

In [30]:
financials = pd.read_csv('/Users/b1017579/Documents/PhD/Projects/10. ELECSIM/data/raw/companies/company_financials.csv')
financials = financials.dropna(how='all')
financials

,Company,cash_in_bank,total_liabilities,total_assets,turnover,net_assets,Source,Unnamed: 7
0,AES,NaN,£-70k,£127.78m,£101.61m,£127.71m,suite.endole.co.uk,NaN
1,Anesco,£4.29m,£-25.7m,£73.32m,£72.45m,£47.62m,companies house,NaN
2,Blue energy,£54.68k,£-139.76k,£114.1k,£1.52m,£-25.66k,NaN,NaN
3,British Solar Renewables Ltd,£5.64m,£-9m,£18.37m,£23.86m,£9.37m,NaN,NaN
4,Calon energy (formerly MPF operations),£34.22m,£-1.07b,£670.84m,£373.27m,£-397.95m,NaN,NaN
5,Centrica,£2.86b,£-17.97b,£20.67b,£28.02b,£2.7b,NaN,NaN
6,Corby Power Ltd,£2.74m,£-11.29m,£19.58m,£4.53m,£8.29m,NaN,NaN
7,Cubico Sustainable Investments Limited,£19.16m,£-778.18m,£1.22b,£238.09m,£439.93m,NaN,NaN
8,Drax Power Ltd,£27.19m,£-1.08b,£2.43b,£2.72b,£1.35b,NaN,NaN
9,E.On UK,NaN,£-3.74b,£2.74b,£480m,£2.74b,NaN,NaN
10,Ecotricity,£18.85m,£-188.02m,£257.09m,£126.45m,£69.06m,NaN,NaN
11,EDF Energy,£1.88b,£-3.22b,£5.06b,£5.39b,£1.84b,NaN,NaN
12,EDF renewables,£8.66m,£-33.65m,£41.33m,£10.88m,£7.68m,NaN,NaN
13,Eggborough Power Ltd,£25m,£-111m,£94m,£106m,£-17m,NaN,NaN
14,Eneco,£1.02m,£-92.95m,£298.34m,£1.25m,£205.39m,NaN,NaN
15,Engie,£3.7m,£-205.24m,£243.18m,£533.96m,£37.94m,NaN,NaN
16,EPR,£381k,£-4.54m,£10.29m,£26.18m,£5.74m,NaN,NaN
17,EPUKi,£8.54m,£-473.5m,£498.88m,£3.47m,£25.39m,NaN,NaN
18,ESB,£7.09m,£-13.61m,£10.63m,£359k,£-2.98m,NaN,NaN
19,Falck renewables LTD,£12.26m,£-46.36m,£241.33m,£9m,£194.97m,NaN,NaN
20,Foresight Group,£10.04m,£-18.32m,£24.85m,£36.29m,£6.53m,NaN,NaN
21,Fred Olsen Renewables,£90.27m,£-424m,£503.69m,£108.18m,£79.7m,NaN,NaN
22,Greencoat,£3.36m,£-3.62m,£11.13m,£11.31m,£7.52m,NaN,NaN
23,Indian Queens Power Ltd,£907k,£-15.28m,£12.62m,£3.06m,£-2.66m,NaN,NaN
24,Infinis,£163.99m,£-597.59m,£642.67m,£150.75m,£45.07m,NaN,NaN
25,Innogy renewables,£1.33m,£-1.96b,£3.57b,£485.15m,£1.6b,NaN,NaN
26,Intergen,£3k,£-262.79m,£675.11m,£46k,£412.32m,NaN,NaN
27,Lark,£203k,£-149.72m,£147.62m,£57.97m,£-2.1m,NaN,NaN
28,LightsourceBP,£38.81m,£-597.76m,£549.9m,£61.78m,£-47.86m,NaN,NaN
29,Londonwaste Limited,NaN,NaN,NaN,NaN,NaN,NaN,NaN
30,Magnox Ltd,£9.51m,£-136.18m,£150.03m,£608.98m,£13.85m,NaN,NaN
31,Marchwood Power Limited,£16.05m,£-188.3m,£314.4m,£65.82m,£126.1m,NaN,NaN
32,Multifuel energy ltd,£22.2m,£-266.7m,£327.2m,£53.6m,£60.5m,NaN,NaN
33,Octopus energy,£7.53m,£-32.23m,£25.52m,£35.24m,£-6.71m,NaN,NaN
34,Orsted,£1k,£-17.92m,£26.15m,£20.85m,£8.24m,NaN,NaN
35,Peel energy,£-3.12m,£-3.31m,£195.04k,NaN,£-3.12m,NaN,NaN
36,REG power,£1.22m,£-16.53m,£16.76m,£7.08m,£236k,NaN,NaN
37,Renewable energy systems,£171.27m,£-339.18m,£652.3m,£885.67m,£313.12m,NaN,NaN
38,Riverside Resource Recovery Limited,£39.33m,£-645.45m,£591.95m,£107.88m,£-53.5m,NaN,NaN
39,Rockfire capital,£1.45m,£-4.76m,£25.21m,£10.45m,£20.45m,NaN,NaN
40,RWE Generation SE,£5m,£-1.56b,£2.97b,£2.24b,£1.41b,NaN,NaN
41,Saltend Cogeneration Company Ltd,£3.07m,£-103.83m,£269.85m,£342.11m,£166.02m,NaN,NaN
42,Scira Offshore Energy Ltd,£3.32m,£-630.35m,£1.15b,£160.75m,£524.15m,NaN,NaN
43,Scotia wind,£283k,£-7.92m,£23.8m,£5.64m,£15.88m,NaN,NaN
44,Scottish power,£46m,£-10.4b,£15.68b,£5.24b,£5.28b,NaN,NaN
45,Seabank Power Limited,£13.52m,£-68.82m,£203.24m,£142.39m,£134.43m,NaN,NaN
46,Sellafield Ltd,£12m,£-1.13b,£1.13b,£2.01b,£0,NaN,NaN
47,Sembcorp Utilities (UK) Ltd,£32.85m,£-75.2m,£156.37m,£175.44m,£81.17m,NaN,NaN
48,SIMEC,£49.96k,£-3.45m,£3.36m,NaN,£-89k,NaN,NaN
49,South East London Combined Heat & Power Ltd,£6.61m,£-34.04m,£40.26m,£38.74m,£6.22m,NaN,NaN
50,SSE,£232m,£-17.41b,£22.64b,£31.23b,£5.23b,NaN,NaN
51,Statkraft Energy Ltd,£5.67m,£-28.03m,£61.48m,£14.78m,£33.46m,NaN,NaN
52,Suez recycling and recovery,£605k,£-213.72m,£346.99m,£504.34m,£133.28m,NaN,NaN
53,Third Energy Trading Ltd,£23k,£-4.22m,£4.23m,£1.03m,£6k,NaN,NaN
54,Uniper UK Limited,£1m,£-621m,£1.04b,£743m,£423m,NaN,NaN
55,Vattenfall,£18.28m,£-99.99m,£998.95m,£47.98m,£898.97m,NaN,NaN
56,Viridor Waste Management,£670k,£-1.32b,£1.66b,NaN,£344.17m,NaN,NaN
57,VPI Immingham LLP,£37.49m,£-450.03m,£678.92m,£618.38m,£228.89m,NaN,NaN
58,WPO,£268.74k,£-370.94k,£498.23k,£2.32m,£127.29k,NaN,NaN
59,Xceco,£627k,£-743.76k,£803.39k,NaN,£59.63k,NaN,NaN

In [31]:
financials_no_source = financials.drop(['Source','Unnamed: 7'], axis=1)
financials_no_stirling = financials_no_source.apply(lambda x: x.str.replace('£',''))

In [32]:
financials_no_source

,Company,cash_in_bank,total_liabilities,total_assets,turnover,net_assets
0,AES,NaN,£-70k,£127.78m,£101.61m,£127.71m
1,Anesco,£4.29m,£-25.7m,£73.32m,£72.45m,£47.62m
2,Blue energy,£54.68k,£-139.76k,£114.1k,£1.52m,£-25.66k
3,British Solar Renewables Ltd,£5.64m,£-9m,£18.37m,£23.86m,£9.37m
4,Calon energy (formerly MPF operations),£34.22m,£-1.07b,£670.84m,£373.27m,£-397.95m
5,Centrica,£2.86b,£-17.97b,£20.67b,£28.02b,£2.7b
6,Corby Power Ltd,£2.74m,£-11.29m,£19.58m,£4.53m,£8.29m
7,Cubico Sustainable Investments Limited,£19.16m,£-778.18m,£1.22b,£238.09m,£439.93m
8,Drax Power Ltd,£27.19m,£-1.08b,£2.43b,£2.72b,£1.35b
9,E.On UK,NaN,£-3.74b,£2.74b,£480m,£2.74b
10,Ecotricity,£18.85m,£-188.02m,£257.09m,£126.45m,£69.06m
11,EDF Energy,£1.88b,£-3.22b,£5.06b,£5.39b,£1.84b
12,EDF renewables,£8.66m,£-33.65m,£41.33m,£10.88m,£7.68m
13,Eggborough Power Ltd,£25m,£-111m,£94m,£106m,£-17m
14,Eneco,£1.02m,£-92.95m,£298.34m,£1.25m,£205.39m
15,Engie,£3.7m,£-205.24m,£243.18m,£533.96m,£37.94m
16,EPR,£381k,£-4.54m,£10.29m,£26.18m,£5.74m
17,EPUKi,£8.54m,£-473.5m,£498.88m,£3.47m,£25.39m
18,ESB,£7.09m,£-13.61m,£10.63m,£359k,£-2.98m
19,Falck renewables LTD,£12.26m,£-46.36m,£241.33m,£9m,£194.97m
20,Foresight Group,£10.04m,£-18.32m,£24.85m,£36.29m,£6.53m
21,Fred Olsen Renewables,£90.27m,£-424m,£503.69m,£108.18m,£79.7m
22,Greencoat,£3.36m,£-3.62m,£11.13m,£11.31m,£7.52m
23,Indian Queens Power Ltd,£907k,£-15.28m,£12.62m,£3.06m,£-2.66m
24,Infinis,£163.99m,£-597.59m,£642.67m,£150.75m,£45.07m
25,Innogy renewables,£1.33m,£-1.96b,£3.57b,£485.15m,£1.6b
26,Intergen,£3k,£-262.79m,£675.11m,£46k,£412.32m
27,Lark,£203k,£-149.72m,£147.62m,£57.97m,£-2.1m
28,LightsourceBP,£38.81m,£-597.76m,£549.9m,£61.78m,£-47.86m
29,Londonwaste Limited,NaN,NaN,NaN,NaN,NaN
30,Magnox Ltd,£9.51m,£-136.18m,£150.03m,£608.98m,£13.85m
31,Marchwood Power Limited,£16.05m,£-188.3m,£314.4m,£65.82m,£126.1m
32,Multifuel energy ltd,£22.2m,£-266.7m,£327.2m,£53.6m,£60.5m
33,Octopus energy,£7.53m,£-32.23m,£25.52m,£35.24m,£-6.71m
34,Orsted,£1k,£-17.92m,£26.15m,£20.85m,£8.24m
35,Peel energy,£-3.12m,£-3.31m,£195.04k,NaN,£-3.12m
36,REG power,£1.22m,£-16.53m,£16.76m,£7.08m,£236k
37,Renewable energy systems,£171.27m,£-339.18m,£652.3m,£885.67m,£313.12m
38,Riverside Resource Recovery Limited,£39.33m,£-645.45m,£591.95m,£107.88m,£-53.5m
39,Rockfire capital,£1.45m,£-4.76m,£25.21m,£10.45m,£20.45m
40,RWE Generation SE,£5m,£-1.56b,£2.97b,£2.24b,£1.41b
41,Saltend Cogeneration Company Ltd,£3.07m,£-103.83m,£269.85m,£342.11m,£166.02m
42,Scira Offshore Energy Ltd,£3.32m,£-630.35m,£1.15b,£160.75m,£524.15m
43,Scotia wind,£283k,£-7.92m,£23.8m,£5.64m,£15.88m
44,Scottish power,£46m,£-10.4b,£15.68b,£5.24b,£5.28b
45,Seabank Power Limited,£13.52m,£-68.82m,£203.24m,£142.39m,£134.43m
46,Sellafield Ltd,£12m,£-1.13b,£1.13b,£2.01b,£0
47,Sembcorp Utilities (UK) Ltd,£32.85m,£-75.2m,£156.37m,£175.44m,£81.17m
48,SIMEC,£49.96k,£-3.45m,£3.36m,NaN,£-89k
49,South East London Combined Heat & Power Ltd,£6.61m,£-34.04m,£40.26m,£38.74m,£6.22m
50,SSE,£232m,£-17.41b,£22.64b,£31.23b,£5.23b
51,Statkraft Energy Ltd,£5.67m,£-28.03m,£61.48m,£14.78m,£33.46m
52,Suez recycling and recovery,£605k,£-213.72m,£346.99m,£504.34m,£133.28m
53,Third Energy Trading Ltd,£23k,£-4.22m,£4.23m,£1.03m,£6k
54,Uniper UK Limited,£1m,£-621m,£1.04b,£743m,£423m
55,Vattenfall,£18.28m,£-99.99m,£998.95m,£47.98m,£898.97m
56,Viridor Waste Management,£670k,£-1.32b,£1.66b,NaN,£344.17m
57,VPI Immingham LLP,£37.49m,£-450.03m,£678.92m,£618.38m,£228.89m
58,WPO,£268.74k,£-370.94k,£498.23k,£2.32m,£127.29k
59,Xceco,£627k,£-743.76k,£803.39k,NaN,£59.63k

In [36]:
# Convert k,m,b to 000, 000000, 000000000 respectively

def unit_to_000(column):
    column = (column.replace(r'[kmb]+$', '', regex=True).astype(float) * 
              column.str.extract(r'[\d\.]+([kmb]+)', expand=False).fillna(1).replace(['k','m','b'], [10**3, 10**6, 10**9]).astype(int))
    return column

financials_to_thousand = financials_no_stirling.copy()
financials_to_thousand[['cash_in_bank','total_liabilities','total_assets','turnover','net_assets']] = financials_no_stirling[['cash_in_bank','total_liabilities','total_assets','turnover','net_assets']].apply(lambda x: unit_to_000(x), axis=0)
financials_to_thousand

,Company,cash_in_bank,total_liabilities,total_assets,turnover,net_assets
0,AES,NaN,-7.000000e+04,1.277800e+08,1.016100e+08,1.277100e+08
1,Anesco,4.290000e+06,-2.570000e+07,7.332000e+07,7.245000e+07,4.762000e+07
2,Blue energy,5.468000e+04,-1.397600e+05,1.141000e+05,1.520000e+06,-2.566000e+04
3,British Solar Renewables Ltd,5.640000e+06,-9.000000e+06,1.837000e+07,2.386000e+07,9.370000e+06
4,Calon energy (formerly MPF operations),3.422000e+07,-1.070000e+09,6.708400e+08,3.732700e+08,-3.979500e+08
5,Centrica,2.860000e+09,-1.797000e+10,2.067000e+10,2.802000e+10,2.700000e+09
6,Corby Power Ltd,2.740000e+06,-1.129000e+07,1.958000e+07,4.530000e+06,8.290000e+06
7,Cubico Sustainable Investments Limited,1.916000e+07,-7.781800e+08,1.220000e+09,2.380900e+08,4.399300e+08
8,Drax Power Ltd,2.719000e+07,-1.080000e+09,2.430000e+09,2.720000e+09,1.350000e+09
9,E.On UK,NaN,-3.740000e+09,2.740000e+09,4.800000e+08,2.740000e+09
10,Ecotricity,1.885000e+07,-1.880200e+08,2.570900e+08,1.264500e+08,6.906000e+07
11,EDF Energy,1.880000e+09,-3.220000e+09,5.060000e+09,5.390000e+09,1.840000e+09
12,EDF renewables,8.660000e+06,-3.365000e+07,4.133000e+07,1.088000e+07,7.680000e+06
13,Eggborough Power Ltd,2.500000e+07,-1.110000e+08,9.400000e+07,1.060000e+08,-1.700000e+07
14,Eneco,1.020000e+06,-9.295000e+07,2.983400e+08,1.250000e+06,2.053900e+08
15,Engie,3.700000e+06,-2.052400e+08,2.431800e+08,5.339600e+08,3.794000e+07
16,EPR,3.810000e+05,-4.540000e+06,1.029000e+07,2.618000e+07,5.740000e+06
17,EPUKi,8.540000e+06,-4.735000e+08,4.988800e+08,3.470000e+06,2.539000e+07
18,ESB,7.090000e+06,-1.361000e+07,1.063000e+07,3.590000e+05,-2.980000e+06
19,Falck renewables LTD,1.226000e+07,-4.636000e+07,2.413300e+08,9.000000e+06,1.949700e+08
20,Foresight Group,1.004000e+07,-1.832000e+07,2.485000e+07,3.629000e+07,6.530000e+06
21,Fred Olsen Renewables,9.027000e+07,-4.240000e+08,5.036900e+08,1.081800e+08,7.970000e+07
22,Greencoat,3.360000e+06,-3.620000e+06,1.113000e+07,1.131000e+07,7.520000e+06
23,Indian Queens Power Ltd,9.070000e+05,-1.528000e+07,1.262000e+07,3.060000e+06,-2.660000e+06
24,Infinis,1.639900e+08,-5.975900e+08,6.426700e+08,1.507500e+08,4.507000e+07
25,Innogy renewables,1.330000e+06,-1.960000e+09,3.570000e+09,4.851500e+08,1.600000e+09
26,Intergen,3.000000e+03,-2.627900e+08,6.751100e+08,4.600000e+04,4.123200e+08
27,Lark,2.030000e+05,-1.497200e+08,1.476200e+08,5.797000e+07,-2.100000e+06
28,LightsourceBP,3.881000e+07,-5.977600e+08,5.499000e+08,6.178000e+07,-4.786000e+07
29,Londonwaste Limited,NaN,NaN,NaN,NaN,NaN
30,Magnox Ltd,9.510000e+06,-1.361800e+08,1.500300e+08,6.089800e+08,1.385000e+07
31,Marchwood Power Limited,1.605000e+07,-1.883000e+08,3.144000e+08,6.582000e+07,1.261000e+08
32,Multifuel energy ltd,2.220000e+07,-2.667000e+08,3.272000e+08,5.360000e+07,6.050000e+07
33,Octopus energy,7.530000e+06,-3.223000e+07,2.552000e+07,3.524000e+07,-6.710000e+06
34,Orsted,1.000000e+03,-1.792000e+07,2.615000e+07,2.085000e+07,8.240000e+06
35,Peel energy,-3.120000e+06,-3.310000e+06,1.950400e+05,NaN,-3.120000e+06
36,REG power,1.220000e+06,-1.653000e+07,1.676000e+07,7.080000e+06,2.360000e+05
37,Renewable energy systems,1.712700e+08,-3.391800e+08,6.523000e+08,8.856700e+08,3.131200e+08
38,Riverside Resource Recovery Limited,3.933000e+07,-6.454500e+08,5.919500e+08,1.078800e+08,-5.350000e+07
39,Rockfire capital,1.450000e+06,-4.760000e+06,2.521000e+07,1.045000e+07,2.045000e+07
40,RWE Generation SE,5.000000e+06,-1.560000e+09,2.970000e+09,2.240000e+09,1.410000e+09
41,Saltend Cogeneration Company Ltd,3.070000e+06,-1.038300e+08,2.698500e+08,3.421100e+08,1.660200e+08
42,Scira Offshore Energy Ltd,3.320000e+06,-6.303500e+08,1.150000e+09,1.607500e+08,5.241500e+08
43,Scotia wind,2.830000e+05,-7.920000e+06,2.380000e+07,5.640000e+06,1.588000e+07
44,Scottish power,4.600000e+07,-1.040000e+10,1.568000e+10,5.240000e+09,5.280000e+09
45,Seabank Power Limited,1.352000e+07,-6.882000e+07,2.032400e+08,1.423900e+08,1.344300e+08
46,Sellafield Ltd,1.200000e+07,-1.130000e+09,1.130000e+09,2.010000e+09,0.000000e+00
47,Sembcorp Utilities (UK) Ltd,3.285000e+07,-7.520000e+07,1.563700e+08,1.754400e+08,8.117000e+07
48,SIMEC,4.996000e+04,-3.450000e+06,3.360000e+06,NaN,-8.900000e+04
49,South East London Combined Heat & Power Ltd,6.610000e+06,-3.404000e+07,4.026000e+07,3.874000e+07,6.220000e+06
50,SSE,2.320000e+08,-1.741000e+10,2.264000e+10,3.123000e+10,5.230000e+09
51,Statkraft Energy Ltd,5.670000e+06,-2.803000e+07,6.148000e+07,1.478000e+07,3.346000e+07
52,Suez recycling and recovery,6.050000e+05,-2.137200e+08,3.469900e+08,5.043400e+08,1.332800e+08
53,Third Energy Trading Ltd,2.300000e+04,-4.220000e+06,4.230000e+06,1.030000e+06,6.000000e+03
54,Uniper UK Limited,1.000000e+06,-6.210000e+08,1.040000e+09,7.430000e+08,4.230000e+08
55,Vattenfall,1.828000e+07,-9.999000e+07,9.989500e+08,4.798000e+07,8.989700e+08
56,Viridor Waste Management,6.700000e+05,-1.320000e+09,1.660000e+09,NaN,3.441700e+08
57,VPI Immingham LLP,3.749000e+07,-4.500300e+08,6.789200e+08,6.183800e+08,2.288900e+08
58,WPO,2.687400e+05,-3.709400e+05,4.982300e+05,2.320000e+06,1.272900e+05
59,Xceco,6.270000e+05,-7.437600e+05,8.033900e+05,NaN,5.963000e+04

In [37]:
financials_to_thousand.to_csv('/Users/b1017579/Documents/PhD/Projects/10. ELECSIM/data/processed/companies/company_financials.csv')