In [2]:
import pandas as pd

In [11]:
heat_rate_data = pd.read_csv('/Users/b1017579/Documents/PhD/Projects/10. ELECSIM/data/raw/power_plants_costs/historical_costs/efficiencies/historical_fuel_plant_efficiency.csv')
heat_rate_data = heat_rate_data.drop('Nuclear', axis=1)
heat_rate_data.head()

   Year   Coal  Petroleum  Natural Gas
0  2007  10375      10794         8403
1  2008  10378      11015         8305
2  2009  10414      10923         8160
3  2010  10415      10984         8185
4  2011  10444      10829         8152

# Convert Heat Rate to Efficiency

In [12]:
efficiency_data = heat_rate_data.copy()
efficiency_data[['Coal', 'Petroleum', 'Natural Gas']] = 3412/efficiency_data[['Coal', 'Petroleum', 'Natural Gas']]
efficiency_data

    Year      Coal  Petroleum  Natural Gas
0   2007  0.328867   0.316102     0.406045
1   2008  0.328772   0.309759     0.410837
2   2009  0.327636   0.312368     0.418137
3   2010  0.327604   0.310634     0.416860
4   2011  0.326695   0.315080     0.418548
5   2012  0.325014   0.310436     0.424431
6   2013  0.326226   0.318492     0.429290
7   2014  0.327196   0.315517     0.431516
8   2015  0.325107   0.319266     0.433105
9   2016  0.325169   0.315604     0.433545
10  2017  0.326039   0.314934     0.436764

In [24]:
efficiency_data_long = efficiency_data.melt(id_vars=['Year'], value_vars=['Coal', 'Petroleum', 'Natural Gas'], var_name='fuel_type', value_name='efficiency')
efficiency_data_long

    Year    fuel_type  efficiency
0   2007         Coal    0.328867
1   2008         Coal    0.328772
2   2009         Coal    0.327636
3   2010         Coal    0.327604
4   2011         Coal    0.326695
5   2012         Coal    0.325014
6   2013         Coal    0.326226
7   2014         Coal    0.327196
8   2015         Coal    0.325107
9   2016         Coal    0.325169
10  2017         Coal    0.326039
11  2007    Petroleum    0.316102
12  2008    Petroleum    0.309759
13  2009    Petroleum    0.312368
14  2010    Petroleum    0.310634
15  2011    Petroleum    0.315080
16  2012    Petroleum    0.310436
17  2013    Petroleum    0.318492
18  2014    Petroleum    0.315517
19  2015    Petroleum    0.319266
20  2016    Petroleum    0.315604
21  2017    Petroleum    0.314934
22  2007  Natural Gas    0.406045
23  2008  Natural Gas    0.410837
24  2009  Natural Gas    0.418137
25  2010  Natural Gas    0.416860
26  2011  Natural Gas    0.418548
27  2012  Natural Gas    0.424431
28  2013  Natural Gas    0.429290
29  2014  Natural Gas    0.431516
30  2015  Natural Gas    0.433105
31  2016  Natural Gas    0.433545
32  2017  Natural Gas    0.436764

In [26]:
efficiency_data_long['fuel_type'] = efficiency_data_long['fuel_type'].str.replace('Natural Gas', "Gas")
efficiency_data_long

    Year  fuel_type  efficiency
0   2007       Coal    0.328867
1   2008       Coal    0.328772
2   2009       Coal    0.327636
3   2010       Coal    0.327604
4   2011       Coal    0.326695
5   2012       Coal    0.325014
6   2013       Coal    0.326226
7   2014       Coal    0.327196
8   2015       Coal    0.325107
9   2016       Coal    0.325169
10  2017       Coal    0.326039
11  2007  Petroleum    0.316102
12  2008  Petroleum    0.309759
13  2009  Petroleum    0.312368
14  2010  Petroleum    0.310634
15  2011  Petroleum    0.315080
16  2012  Petroleum    0.310436
17  2013  Petroleum    0.318492
18  2014  Petroleum    0.315517
19  2015  Petroleum    0.319266
20  2016  Petroleum    0.315604
21  2017  Petroleum    0.314934
22  2007        Gas    0.406045
23  2008        Gas    0.410837
24  2009        Gas    0.418137
25  2010        Gas    0.416860
26  2011        Gas    0.418548
27  2012        Gas    0.424431
28  2013        Gas    0.429290
29  2014        Gas    0.431516
30  2015        Gas    0.433105
31  2016        Gas    0.433545
32  2017        Gas    0.436764

In [27]:
efficiency_data_long.to_csv('/Users/b1017579/Documents/PhD/Projects/10. ELECSIM/data/processed/power_plants/power_plant_costs/historical_power_plant_costs/efficiency/historical_fuel_plant_efficiency.csv')